{% block body %}
    <div>
        <a href="{{ path('micro_post_show', {'id': post.id}) }}">{{ post.text }}</a>
        <br>
        <a href="{{ path('micro_post_user', {username: post.user.username}) }}">
            <strong>@{{ post.user.username }}</strong>
        </a>
        <small>{{ post.time|date("d:m:Y") }}</small>
    </div>

    {% set isLiked = post.getlikedBy.contains(app.user) %}

     <div>
         <button style="display: {% if not isLiked %}block{% else %}none{% endif %}" id="like">
             <span id="likes-like">{{ post.getLikedBy.count }}</span>
             <- LIKE
         </button>
         <button style="display: {% if isLiked %}block{% else %}none{% endif %}" id="unlike">
             <span id="likes-unlike">{{ post.getLikedBy.count }}</span> <- UNLIKE</button>
     </div>
{% endblock %}

{% block javascripts %}

    <script>
        var likedButton = document.getElementById('like');
        var unLikedButton = document.getElementById('unlike');
        addOnClick(
            likedButton,
            unLikedButton,
            document.getElementById('likes-unlike'),
            '{{ path('likes_like', {'id': post.id }) }}'
        );

        addOnClick(
            unLikedButton,
            likedButton,
            document.getElementById('likes-like'),
            '{{ path('likes_unlike', {'id': post.id }) }}'
        );

        function switchButtons(button, oppositeButton) {
            button.disabled = false;
            button.style.display = 'none';
            oppositeButton.style.display = 'block';
        }
        
        function addOnClick(button, oppositeButton, likeCount, path) {
            button.addEventListener('click', function (event) {
                {% if not app.user %}
                    return window.location.replace('{{ path('user_register') }}');
                {% endif %}

                button.disabled = true;

                fetch(path, {'credentials': 'include'}).then(function (response) {
                    response.json().then(function (json) {
                        likeCount.innerText = json.count;
                        switchButtons(button, oppositeButton);
                    })
                }).catch(function () {
                    switchButtons(button, oppositeButton);
                });

                event.preventDefault();
            });
        }


    </script>
{% endblock %}